body{
background-color: black;

  }

.nav a {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('images/catfish.jpg');

  background-position: 0% 15%;
  height: 500px;
}

.jumbotron .container {
  position: relative;
  top:65px;
  padding-right: 25px;
}

.jumbotron h1 {
  color: #fff;
  float: right;
  font-size: 48px;  
  font-family: initial;
  font-weight: bold;
  padding: 10px 10px;
}


.jumbotron p {
  font-size: 20px;
  float: left;
  color: #fff;
  font-family: initial;
  font-weight: bold;
  padding-top: 300px;
  padding-left: 100px;
}

.below {
  display:inline;
  padding-left: 100px;
}

.below h3 {
  color: #fff;
  font-family: initial;
  font-size: 18px;
  font-weight: bold;
}


.info{
  padding-bottom: 100px;
  color: #fff;
}

.info .header{
  background-image:url('images/catfish.jpg');
  background-position: 0% 40%;
  padding-left: 90px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 50px;
}
.info a{

  color: #BF00FF;
}
.info a:visited{

  color: #BF00FF;
}
.info h2{

  color: ##9999ff;
  font-weight: bold;
}
.info h3{

  color: #BCA9F5;
}


.links{
  display: inline;
  float:right;
  position:static;
}